<div class="well col-md-10 col-md-offset-1">
	<h1>Register</h1>
	<br>
	<form #f="ngForm" (ngSubmit)="onEmailSignup(f)">
		<div class="form-group">
			<label for="email">Email Address</label>
			<input type="email" name="email" ngModel required
			class="form-control">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="text" name="password" ngModel required
			class="form-control">
		</div>
		<button type="submit" class="btn btn-default" [disabled]="!f.form.valid">Register</button>
		<button type="button" class="btn btn-primary" (click)="onFaceSignup()">Facebook Signin</button>
		<button type="button" class="btn btn-success" (click)="onGoogleSignup()">Google Signin</button>
	</form>
</div>

